MONGO_INITDB_ROOT_USERNAME=login
MONGO_INITDB_ROOT_PASSWORD=pass
MONGO_INITDB_ROOT_PORT=2739
MONGO_HOST=81.142.76.66

YANDEX_API_KEY=AQVN0eE4B0jFQC77EEdl
YANDEX_MODEL_URI=gpt://b1tj7rh3ke/yandexgpt-lite