BACKEND_HOST=0.0.0.0
BACKEND_PORT=45321
FRONTEND_PORT=27366
API_URL=http://langchain_backend:${BACKEND_PORT}/generate
MONGO_HOST=mongodb
MONGO_INITDB_ROOT_USERNAME=login
MONGO_INITDB_ROOT_PASSWORD=pwd
MONGO_INITDB_ROOT_PORT=27017
OLLAMA_PORT=12345
OLLAMA_BASE_URL=http://host.docker.internal:${OLLAMA_PORT}
OPENAI_BASE_URL=base_url
OPENAI_KEY=sk-asx
YANDEX_API_KEY=AQVNdaszx
YANDEX_BASE_URL=https://llm.api.cloud.yandex.net/v1
YANDEX_MODEL_URI=gpt://asdmadsd
STREAMLIT_USER_CONFIG_DIR=path
STREAMLIT_BROWSER_GATHER_USAGE_STATS=false

