.venv
*.csv
*.zip
*.json
*.tsv
*.log
*.jsonl
*.xlsx
*.crt
*.pyc
*old*
*temp*
*__pycache__
.env
TrustLLM
poetry.lock
db
.DS_Store
*.txt
*copy*
trash*
mongo-volume-data/
ds_trustllm/
*config.yaml*
models/
requirements.txt
ollama_models/